<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bugs</title>
</head>
<body>
	<h1>Bugs</h1>
	<hr>
	<div><%= list.length %> bugs are there!!</div>
	<ol>
		<% for(var i=0; i<list.length; i++) {%>
		<li><%= list[i] %></li>
		<% } %>
	</ol>
</body>
</html>