<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bugs</title>
	<style>
	.closed {
		color : red;
		text-decoration: line-through;
		font-weight: bold;
	}
	</style>
</head>
<body>
	<h1>Bugs</h1>
	<hr>
	<div><%= msg %></div>
	<ol>
		<% for(var i=0; i<list.length; i++) {%>
			<li>
			<% if (list[i].isClosed) { %>
				<span class="closed"><%= list[i].title %></span>
			<% } else { %>
				<span><%= list[i].title %></span>
			<% } %>
			<form method="post" action="/bugs/toggle">
				<input type="hidden" name="id" value='<%= list[i].id %>'>
				<input type="submit" value="Toggle">
			</form>
			
			</li>
		<% } %>
	</ol>
</body>
</html>