<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bugs</title>
</head>
<body>
	<h1>Bugs</h1>
	<hr>
	<form method="post">
		<label for="">Bug Title : </label>
		<input type="text" name="newBug" id="">
		<input type="submit" value="Add Bug">
	</form>
</body>
</html>